@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

html, body{
  /* background-color: #0a192f; */
  background-color: #000000;
}

/* * {
    font-family: Helvetica, Arial, sans-serif;

  } */
   
div {
  padding: 40px;
  width:50%;
}  
   
h1 {
  color: #55dabe;
  font-family: 'Roboto Mono', Roboto, monospace;
  font-size: 20px;
  font-weight: 200;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  line-height: 50px;
  /* animation-delay: 1s; */
  /* font-weight: 400; */

}

h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  animation: fadeInAnimation ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  line-height: .5;

  /* animation-delay: 3s; */
  font-size: 45px;
  /* font-weight: 600; */
}

h3 {
  color: #8892b0;
  /* color: #1c00ff; */
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 45px;
  line-height: 0;


  /* font-weight: 40;   */

}
  

p, 
li {
  font-size: 18px;
  color: #8892b0;
  font-weight: 200;  

  font-family: 'Inter', sans-serif;

}
  
  
a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: rgb(100,255,218);
  

}
