@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1,
h2,
h3 {
  opacity: 0;
  animation: fadeInFromBottom 1s ease forwards;
}

h1 {
  color: #55dabe;
  font-family: 'Roboto Mono', Roboto, monospace;
  font-size: 2.4vw;
  font-weight: 200;
  line-height: .1;
}

h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  line-height: .4;
  animation-delay: 0.5s;
  font-size: 4.5vw;
  /* font-weight: 600; */
}

h3 {
  color: #8892b0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  font-size: 4.5vw;
  line-height: 0;
  animation-delay: 1s;

}

html, body{
  background-color: #000000;
}

body {
  padding:8vw;
  padding-right: 20vw;
  padding-top: 6vw;
}
   
p, 
li {
  font-size: 2vw;
  color: #8892b0;
  font-weight: 200;  
  font-family: 'Inter', sans-serif;

}

a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  color: rgb(100,255,218);
}

.p4 {
  padding:50%
}

.teal-button {
  font-family: 'Roboto Mono', monospace;
  color: #55dabe;
  border: 2px solid #55dabe;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  padding: 20px;
}

.icon-buttons {
  position: fixed;
  bottom: 11%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
}

.icon-buttons a {
  display: block;
}

.github-icon {
  width: 2.5vw;
  height: 2.5vw;
  fill: #55dabe;
  padding-bottom: 1vw;
}

.linkedin-icon {
  width: 3vw;
  height: 3vw;
  fill: #55dabe;
}

.line-left {
  width: 1px;
  height: 9.5%;
  background-color: #cccccc;
  position: fixed;
  left: 4.5vw;
  bottom: 0;
}

.rotated-text {
  bottom: 8.5vw;
  right: 6vw; 
  transform: rotate(90deg);
  transform-origin: bottom right;
  /* padding-bottom: 15%;  */
  color: #55dabe;
  font-size: 1em;
  position: fixed;
  font-family: 'Roboto Mono', monospace;
}

.line-right {
  width: 1px;
  height: 9.5%;
  background-color: #cccccc;
  position: fixed;
  right: 5.5vw;
  bottom: 0;
}