@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  p, 
  li {
    font-size: 2vw;
    color: #8892b0;
    font-weight: 200;  
    font-family: 'Inter', sans-serif;
  
  }

  h1 {
    font-size: 2.4vw;
    line-height: .1;
  }

  h2, h3 {
    font-size: 4.5vw;
  }

  .teal-button {
    padding: 20px;

  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  p, 
  li {
    font-size: 4.5vw;
    color: #8892b0;
    font-weight: 200;  
    font-family: 'Inter', sans-serif;
  
  }

  h1 {
    font-size: 4vw;
    line-height: .5;
  }

  h2, h3 {
    font-size: 5vw;
    line-height: .5;
    padding-top: 5px;
  }

  h3 {
    padding-bottom: 10px;
  }

  .teal-button {
    padding: 3vw;

  }
}


h1,
h2,
h3 {
  opacity: 0;
  animation: fadeInFromBottom 1s ease forwards;
}

h1 {
  color: #55dabe;
  font-family: 'Roboto Mono', Roboto, monospace;
  font-weight: 200;

}

h2 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  line-height: .4;
  animation-delay: 0.5s;
  /* font-weight: 600; */
}

h3 {
  color: #8892b0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;  
  line-height: 0;
  animation-delay: 1s;

}

html, body{
  background-color: #000000;
}
   
/* p, 
li {
  font-size: 2vw;
  color: #8892b0;
  font-weight: 200;  
  font-family: 'Inter', sans-serif;

} */

a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  color: rgb(100,255,218);
}


.teal-button {
  font-family: 'Roboto Mono', monospace;
  color: #55dabe;
  border: 2px solid #55dabe;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  
}

.icon-buttons {
  position: fixed;
  bottom: 11%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
}


.icon-buttons a {
  display: block;
}

.github-icon {
  width: 2.5vw;
  height: 2.5vw;
  fill: #55dabe;
  padding-bottom: 1vw;
}

.linkedin-icon {
  width: 3vw;
  height: 3vw;
  fill: #55dabe;
}

.line-left {
  width: 1px;
  height: 9.5%;
  background-color: #cccccc;
  position: fixed;
  left: 4.5vw;
  bottom: 0;
}

.rotated-text {
  bottom: 12%;
  right: 6.4vw; 
  transform: rotate(90deg);
  transform-origin: bottom right;
  /* padding-bottom: 15%;  */
  color: #55dabe;
  font-size: 1em;
  position: fixed;
  font-family: 'Roboto Mono', monospace;
}

.line-right {
  width: 1px;
  height: 9.5%;
  background-color: #cccccc;
  position: fixed;
  right: 5.5vw;
  bottom: 0;
}

.tile {
  transition: 3s;
  opacity: 0;
  filter: grayscale(1);
}
.bottom-right.inView {
  opacity: 1;
}

.inView {
  opacity: 1;
}

.main_div, .about_me {
  height: 100%;
  padding:8vw; 
  padding-right: 20vw;
  padding-top: 6vw;
}

